#hi {
  color: purple;
  text-align: center;
}
#tell {
  background-color: purple;
  color: plum;
  text-align: center;
}
#inform {
  background-color: purple;
  color: plum;
}
#i1 {
  color: purple;
}
#i11 {
  background-color: plum;
  color: purple;
}
#i2 {
  color: purple;
}
#i22 {
  background-color: plum;
  color: purple;
}
#bye {
  color: purple;
  text-align: center;
}
